/* About Section Styling */
.about {
    color: white;
    padding: 40px 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    z-index: 1;
  }
  
  .about h1 {  
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: bold;
    color: #ffd700; 
  }
  
  .about p {
    font-size: 1.2em;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    color: #e0e0e0;
  }
  
  .about-details {
    margin-top: 40px;

    background-image: url('https://img.freepik.com/premium-photo/cute-funny-animal-ninja-backgroud-with-copy-space-text_916191-59157.jpg?ga=GA1.1.1251179688.1686898531&semt=ais_hybrid');
    background-size: cover;
        padding: 20px;
    border-radius: 8px;
    max-width: 900px;
    margin: 40px auto;
  }
  
  .about-details h2 {
    font-size: 2em;
    margin-top: 20px;
    font-weight: bold;
    color: #ffd700; 
  }
  
  .about-details p {
    font-size: 1.1em;
    margin-top: 10px;
    color: #e0e0e0;
  }
  
  @media (max-width: 768px) {
    .about h1 {
      font-size: 2.5em;
    }
  
    .about p {
      font-size: 1em;
    }
  
    .about-details {
      padding: 15px;
      max-width: 100%;
    }
  
    .about-details h2 {
      font-size: 1.5em;
    }
  }
  