<section class="about">
    <div class="about-content">
      <h1>About Superheroes </h1>
      <p>We are a team of superheroes dedicated to keeping the world safe from evil. Our mission is to protect the innocent, fight against injustice, and defend the planet from any threat, big or small.</p>
      
      <div class="about-details">
        <h2>Our Mission</h2>
        <p>Our mission is to unite powerful individuals with extraordinary abilities to maintain peace and harmony around the globe. We work together to overcome challenges and bring justice to those in need.</p>
        
        <h2>Our Heroes</h2>
        <p>Each member of our team possesses unique powers that contribute to the success of our operations. From strength and speed to telekinesis and intelligence, our heroes are ready to take on any challenge that comes their way.</p>
        
        <h2>Join Us</h2>
        <p>Do you have what it takes to become a superhero? Join our team and be part of the fight for justice!</p>
      </div>
    </div>
  </section>
  