.contact-us {
  padding: 30px;
  background: url('https://img.freepik.com/premium-photo/three-toy-superheroes-are-shelf-city_1198708-2036.jpg?ga=GA1.1.1251179688.1686898531&semt=ais_hybrid') no-repeat center center;
  background-size: cover;
  border-radius: 10px;
  max-width: 900px;
  margin: auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-us h2 {
  color: #ffffff;
  font-size: 2em;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
}

.mat-form-field {
  width: 100%;
}

.contact-us input,
.contact-us textarea {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 2px;
  font-size: 1em;
  width: 100%;
  margin-bottom: 10px;
  transition: border-color 0.3s ease;
}

.contact-us button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 12px 30px;
  font-size: 1.1em;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-us button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.thank-you-message {
  text-align: center;
  color: rgb(196, 228, 196);
  background: linear-gradient(135deg, rgba(182, 203, 224, 0.8), rgba(75, 156, 211, 0.8));
border-radius: 30px;
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px; /* Space between icon and text */
}

.thank-you-message mat-icon {
  font-size: 2em;
}

mat-error{
  color: red;
  background-color: rgb(251, 232, 235);
  padding: 5px;
  border: red;
  border-radius: 20px;
}