<h2 style=" color: yellow; text-align: center; font-size: 2rem; margin: 20px 0;">
  Contact Us
</h2>
<p style="text-align: center; color: #ccc; font-size: 1rem; margin: 10px 0;">
  We'd love to hear from you! Please fill out the form below and we’ll get back to you as soon as possible.
</p>

<div class="contact-us">
  <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
    <div class="form-group">
      <mat-form-field>
        <mat-label>Your Name</mat-label>
        <input matInput type="text" id="name" name="name" [(ngModel)]="contact.name" #name="ngModel" required />
        <mat-error *ngIf="name.touched && name.invalid && !submitted"><mat-icon>error</mat-icon> Name is required</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Your Email</mat-label>
        <input matInput type="email" id="email" name="email" [(ngModel)]="contact.email" #email="ngModel" required />
        <mat-error *ngIf="email.touched && email.invalid  && !submitted"><mat-icon>error</mat-icon> Email is required</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Your Message</mat-label>
        <textarea matInput id="message" name="message" [(ngModel)]="contact.message" #message="ngModel" required></textarea>
        <mat-error *ngIf="message.touched && message.invalid  && !submitted"><mat-icon>error</mat-icon> Message is required</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <button mat-raised-button color="primary" type="submit" [disabled]="!contactForm.valid" style="margin-left: 40px;">Submit</button>
    </div>
  </form>

  <div *ngIf="submitted" class="thank-you-message">
    <h1> ✅</h1>
    <p>Thank you for contacting us! We will get back to you soon.</p>
  </div>
</div>