<div class="container" style="  padding: 130px;">
<h2 style="color: yellow; text-align: center; font-size: 2rem; margin: 20px 0;">
  Your Hero Team
</h2>

  <div *ngIf="heroTeam.length" class="hero-team"  style="  padding: 13px;
" >
  <div *ngFor="let hero of heroTeam" class="hero-card"   >
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ hero.name }}</mat-card-title>
        <mat-icon
          style="cursor: pointer; color: gold; margin-left:0dvb;"
          (click)="toggleFavorite(hero)"
        >
          star
        </mat-icon>
      </mat-card-header>
      <img
        style="align-items: center;"
        (click)="goToDetail(hero.id)"
        mat-card-image
        [src]="hero.thumbnail.path + '.' + hero.thumbnail.extension"
        alt="{{ hero.name }}"
      />
    </mat-card>
  </div>
</div>

<div *ngIf="!heroTeam.length">
  <p>No heroes added to your team yet.</p>
</div>
</div>